# Example Equinox Usage

# Required Packages

In [1]:
from equinox import score
import pandas as pd

# Load Sample Data

In [2]:
df = pd.read_csv("sample.csv")
df

   n_ij  yes  no
0     1   10   0
1     2    8   2
2     3    9   1
3     4    0  10
4     5    7   3

# Specify Variables

In [3]:
entities = ["yes", "no"]
num_annotators = 10

In [4]:
score.fleiss_kappa(entities, num_annotators, df)

0.5302287581699346